@import: url("https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap");

:root {
    --p-color: hsl(220, 15%, 55%);
    --h1-color: hsl(218, 44%, 22%);
    --card-bg: hsl(0, 0%, 100%);
    --main-bg: hsl(212, 45%, 89%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg);
    font-size: 15px;
    font-family: "Outift", sans-serif;
}

main.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.qr-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--card-bg);

    padding: 18px;
    max-width: 320px;
    text-align: center;
}

.qr-card,
img.qr-code {
    border-radius: 13px;
}

img.qr-code {
    max-width: 290px;
}

h1.heading {
    font-size: 21px;
    font-weight: 700;
    margin: 25px 10px 10px 10px;
}

p {
    color: var(--p-color);
    padding: 10px;
    margin-bottom: 23px;
}

h1 {
    color: var(--h1-color)
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}
.attribution a { 
    color: hsl(228, 45%, 44%); 
}